<p id="notice"><%= notice %></p>

<h1>Empréstimos</h1>

<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Valor juros</th>
      <th>Valor capital</th>
      <th>Dia do vencimento</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.client.name %></td>
        <td><%= number_to_currency loan.interest %></td>
        <td><%= number_to_currency loan.value %></td>
        <td><%= loan.payment_day %></td>
        <td>
          <div class="btn-group btn-group-sm pull-right">
            <%= link_to 'Exibir', loan, class: 'btn btn-default' %>
            <%= link_to 'Editar', edit_loan_path(loan), class: 'btn btn-default' %>
            <%= link_to 'Excluir', loan, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Empréstimo', new_loan_path, class: 'btn btn-primary' %>
