<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @loan.client.name %>
</p>

<p>
  <strong>Valor capital:</strong>
  <%= number_to_currency @loan.value %>
</p>

<p>
	<strong>Valor juros</strong>
	<%= number_to_currency @loan.interest %>
</p>
<p>
  <strong>Dia do vecimento:</strong>
  <%= @loan.payment_day %>
</p>

<p>
  <strong>Taxa de juros:</strong>
  <%= @loan.interest_rate %>%
</p>

<!-- <%= link_to 'Editar', edit_loan_path(@loan), class: 'btn btn-primary' %> -->
