<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @loan.client %>
</p>

<p>
  <strong>Value:</strong>
  <%= @loan.value %>
</p>

<p>
  <strong>Payment day:</strong>
  <%= @loan.payment_day %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
